@font-face {
  font-family: 'bebasregular';
  src: url("../font/bebas___-webfont.eot");
  src: url("../font/bebas___-webfont.eot?#iefix") format("embedded-opentype"), url("../font/bebas___-webfont.woff") format("woff"), url("../font/bebas___-webfont.ttf") format("truetype"), url("../font/bebas___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../font//HelveticaNeue.eot");
  src: url("../font/HelveticaNeue.woff") format("woff"), url("../font/HelveticaNeue.ttf") format("truetype"); }
body {
  font-family: sans-serif,open-sans;
  font-size: 14px;
  line-height: 20px;
  color: #414141; }

header, h1, h2, h3, h4, h5, h6, #portafolio a, ul.pagination li a {
  font-family: "bebasregular"; }

.repeat .col-md-12 div {
  padding: 11px 0; }
  .repeat .col-md-12 div h3 {
    margin: 0;
    margin-left: 15px; }

.bg-orange {
  background: #E7663C;
  color: #FFFFFF; }

.box-orangelight {
  background-color: #F3AF9D;
  height: 50px; }

.container {
  background-color: #FFFFFF;
  padding: 0px 0.5%; }

.encima .container {
  position: relative;
  top: -50px; }

.bg-rayas {
  background: url("../images/heading-bg.png") repeat-x;
  padding: 20px 0; }

.aside h5 {
  margin: 4px 0;
  color: #E7663C;
  font-family: "bebasregular"; }
.aside a {
  color: black; }
.aside .gallery {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #E7663C;
  background-color: #F3AF9D; }

.mgb-20 {
  margin-bottom: 20px; }

.mgb-40 {
  margin-bottom: 40px; }

.pdr-45 {
  padding-right: 50px; }

.pdtb-30-55 {
  padding: 30px 0px 55px; }

.pdb-50 {
  padding-bottom: 50px; }

.mgt-20 {
  margin-top: 20px; }

.mgb-40 {
  margin-bottom: 40px; }

.pdb-40 {
  padding-bottom: 40px; }

.pd-0 {
  padding: 0; }

.pdtb-40-20 {
  padding: 40px 0 20px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 11px; }

header .navbar-default {
  background-color: transparent;
  border-color: none;
  border-bottom: 0; }
  header .navbar-default .navbar-header {
    margin-right: 0px;
    margin-left: 7px; }
    header .navbar-default .navbar-header .navbar-brand {
      padding: 50px 15px 0; }
    header .navbar-default .navbar-header .navbar-toggle {
      margin-top: 20px; }
    header .navbar-default .navbar-header a {
      color: #E7663C;
      font-size: 36px; }
      header .navbar-default .navbar-header a span {
        color: #F3AF9D; }
  header .navbar-default .navbar-nav {
    padding: 32px 15px 0; }
    header .navbar-default .navbar-nav a.active {
      color: #E7663C;
      background: transparent; }
    header .navbar-default .navbar-nav li a {
      font-size: 16px;
      color: #BCBCBC; }
      header .navbar-default .navbar-nav li a:hover {
        background-color: #FFFFFF;
        color: #E7663C; }

footer.box-orangelight {
  height: auto; }
  footer.box-orangelight .row {
    margin: 0 0%; }
    footer.box-orangelight .row .col-md-4 {
      padding-right: 28px; }
      footer.box-orangelight .row .col-md-4 .bg-social {
        background: url("../images/social.png") no-repeat;
        height: 30px; }
        footer.box-orangelight .row .col-md-4 .bg-social li a {
          padding-right: 20px;
          padding-left: 0; }

#aboutus .col-md-9 blockquote {
  padding: 10px 20px;
  margin: 40px 0 20px 29px;
  font-size: 14px;
  border-left: 10px solid #E7663C;
  color: #E7663C; }

#blog .imageright {
  position: absolute;
  left: -66px; }
#blog .col-md-9 .row {
  margin: 0;
  padding: 0; }
#blog h4 {
  color: #E7663C;
  font-family: "bebasregular"; }
#blog ul.pagination li a {
  background: #E7663C;
  color: #FFFFFF;
  margin-right: 5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
#blog .col-md-4 p:nth-child(2n+1) {
  color: #E7663C;
  font-family: "bebasregular"; }
#blog .col-md-4 p:nth-child(2n+2) {
  color: #BCBCBC; }
#blog .col-md-8 h4 {
  margin: 0px 0px 20px;
  font-weight: 600; }
#blog .bg-quote {
  background: url("../images/quote_bg.png");
  padding: 20px 27px 30px 18px; }
  #blog .bg-quote .quote-text {
    overflow: hidden; }
    #blog .bg-quote .quote-text p {
      margin-top: 20px; }

#contactus span {
  color: #E7663C; }
#contactus input {
  width: 60%;
  height: 40px; }
#contactus textarea {
  width: 100%;
  height: 200px; }
#contactus input, #contactus textarea {
  color: #E7663C;
  font-family: "bebasregular";
  margin-bottom: 20px;
  border: 1px solid #E7663C;
  padding-top: 10px;
  padding-left: 5px; }
#contactus ::-webkit-input-placeholder {
  color: #E7663C; }
#contactus :-moz-placeholder {
  color: #E7663C; }
#contactus ::-moz-placeholder {
  color: #E7663C; }
#contactus :-ms-input-placeholder {
  color: #E7663C; }
#contactus button {
  width: 100%;
  height: 40px;
  background: #E7663C;
  border: 0;
  color: #E7663C;
  font-family: "bebasregular";
  color: white;
  font-size: 25px; }

.item img {
  width: 100%; }

.carousel-inner > .item > img {
  height: auto; }

#services .media-body h5 {
  color: #E7663C;
  font-family: "bebasregular";
  margin-left: 12px;
  margin-top: 2px;
  line-height: 30px; }
#services .btn-more {
  background: #E7663C;
  color: #E7663C;
  font-family: "bebasregular";
  color: white;
  display: block;
  font-size: 12px;
  margin-top: 20px;
  padding: 5px 12px;
  width: 53px; }

#pictures .row img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out; }
#pictures h4 {
  color: #E7663C;
  margin-top: 4px; }
#pictures .thumbnail {
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0; }
  #pictures .thumbnail .caption {
    padding: 20px 0px 15px 20px;
    border-right: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
    border-left: 1px solid #BCBCBC; }
    #pictures .thumbnail .caption h5 {
      color: #999999; }
    #pictures .thumbnail .caption h6 {
      color: #E7663C; }

#portafolio .categories li {
  margin-bottom: 70px; }
#portafolio .categories li.active a {
  background: #E7663C;
  color: #FFFFFF; }
#portafolio .categories li a {
  color: #BCBCBC;
  display: block;
  padding: 10px 15px; }
#portafolio .row .thumbnail {
  padding: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  #portafolio .row .thumbnail:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
#portafolio h5 {
  color: #BCBCBC; }
#portafolio h6 {
  color: #E7663C; }

@media (min-width: 1200px) {
  .container {
    width: 970px; } }
@media (max-width: 790px) {
  header .navbar-default .navbar-header .navbar-toggle {
    margin-top: 29px; }

  header .navbar-default .navbar-header .navbar-brand {
    padding: 41px 15px 0; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 30px; }

  .container {
    padding-right: 15px;
    padding-left: 15px; }

  #aboutus .media-left {
    display: block; }
    #aboutus .media-left img {
      margin: 0 auto; }

  .pdr-45 {
    padding-right: 15px; }

  #portafolio .categories li {
    margin-bottom: 0px; } }

/*# sourceMappingURL=main.css.map */
