#contactus{
	span{
		color:$orange;
	}
	input{
		@include width-height(60%,40px);
	}
	textarea{
		@include width-height(100%,200px);
	}
	input, textarea{
		@include color-font1();
		margin-bottom: 20px;	
		border:1px solid $orange;
		padding-top:10px;
		padding-left: 5px;
		
	}
	@include placeholder();
	button{
		@include width-height(100%,40px);
		background:$orange;
		border:0;
		@include color-font2();
		font-size: 25px;	
	}
}