#portafolio{
	.categories{
		li{
			margin-bottom: 70px;
		}
		li.active a {
			@include bg-color1();
		}
		li a {
			color: $graylight;
			display: block;
			padding: 10px 15px;
		}
	}
	.row .thumbnail {
		padding: 2px;
		@include radius(0px);
		&:hover{
			@include transform(1.1);
			@include transition(0.5s);	
		}
	}
	h5{
		color:$graylight;
	}
	h6{
		color:$orange;

	}
}